@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

// Animations

@keyframes slideUp {
  from {
    transform: translateY(+10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.analysis {
  animation: slideUp 500ms ease-in-out 1.5s backwards;

  &__loading {
    animation: loading 2s ease-in-out 500ms backwards;
    animation-iteration-count: infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  &__text {
    @include poem-line;
    margin: 0 1rem;
  }
}
