@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

// Animations

@keyframes slideUp {
  from {
    transform: translateY(+10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes buttonAppear {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    scale: 1;
    opacity: 0.7;
  }
}

@keyframes windowOpen {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes overlayOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

// Animation Delay

.appear {
  &-1 {
    animation: slideUp 500ms ease-in-out 150ms backwards;
  }
  &-2 {
    animation: slideUp 500ms ease-in-out 250ms backwards;
  }
  &-3 {
    animation: slideUp 500ms ease-in-out 350ms backwards;
  }
  &-4 {
    animation: slideUp 500ms ease-in-out 400ms backwards;
  }
}

.poem {
  &__max-width-container {
    padding: 1.5rem 1.5rem;
    @include tablet {
      padding: 1.5rem 1rem;
      max-width: 95%;
      margin: auto;
    }
    @include desktop {
      display: flex;
      justify-content: space-between;
      max-width: 1300px;
      margin: auto;
    }
  }
  &__poem-container {
    @include tablet {
      width: 70%;
    }
    @include desktop {
      width: 50%;
    }
  }
  &__heading-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
  }
  &__title {
    @include poem-title;
  }
  &__author {
    @include poem-author;
    padding: 0.5rem 0;
  }
  &__lines-container {
    padding: 1rem 0;
  }
  &__line {
    @include poem-line;
  }
  &__loading-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include desktop {
      height: 25%;
    }
  }
  &__loading-text {
    font-family: $sans-serif;
    animation: slideUp 2s ease-in-out;
    animation-delay: 500ms;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
  }
  &__analysis-button {
    height: 3rem;
    width: 3rem;
    animation: buttonAppear 500ms ease-in-out 500ms backwards;
    background-color: $btn-dark;
    border: none;
    border-radius: 25px;
    opacity: 0.7;
    position: fixed;
    left: 81%;
    bottom: 3%;
    transition: scale 200ms ease-in-out;
    &:hover {
      scale: 1.2;
    }
    @include tablet {
      left: 90%;
    }
    @include desktop {
      // display: none;
    }
  }
}

.analysis {
  &__window {
    animation: windowOpen 500ms ease-in-out backwards;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    box-shadow: 0px 3px 4px #71797e;
    min-height: 100vh;
    width: 100vw;
    padding: 2rem 2rem;
    // Flex
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    // Position
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: 1;
    height: fit-content;
    @include tablet {
      padding: 2rem 2rem;
    }
    @include desktop {
      width: 35rem;
      overflow: auto;
      top: 8rem;
      left: 57%;
      padding: 0rem 2rem;
      position: inherit;
    }
  }
  &__text {
    @include body-copy;
    animation: slideUp 500ms ease-in-out 1.5s backwards;
    padding: 0.5rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
    white-space: pre-wrap;
  }
  &__close-icon {
    background-color: transparent;
    border: none;
    height: 24px;
    width: 24px;
    @include desktop {
      display: none;
    }
  }
}
