@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

// Animations

@keyframes loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(+10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.poems-page {
  &__container {
    &--max-width {
      @include container-max-width;
      // position: fixed;
    }
    &--name-year {
      display: flex;
      gap: 0.5rem;
    }
    &--list {
      padding: 1rem 0;
      @include tablet {
        width: 60%;
      }
      @include desktop {
        width: 50%;
      }
    }
  }
  &__heading {
    @include page-heading;
    animation: slideUp 500ms ease-in-out 100ms backwards;
  }
  &__row {
    animation: slideUp 500ms ease-in-out 200ms backwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    border-top: 1px solid lightgrey;
    padding: 1rem 0;
    &:first-of-type {
      border-top: none;
    }
  }
  &__title {
    @include poem-title;
    animation: slideUp 500ms ease-in-out 400ms backwards;
  }
  &__name {
    @include poem-author;
    animation: slideUp 500ms ease-in-out 400ms backwards;
    width: fit-content;
  }
  &__year {
    @include poem-author;
    animation: slideUp 500ms ease-in-out 400ms backwards;
    color: gray;
    width: fit-content;
  }
  &__loading-container {
    animation: slideUp 500ms ease-in-out 1s backwards;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
  }
}
