@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

// Animations

@keyframes loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(+10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.poet-page {
  &__container {
    &--max-width {
      @include container-max-width;
    }
    &--loading {
      animation: slideUp 1.5s ease-in-out 2s backwards infinite;
      display: flex;
      justify-content: center;
      align-content: center;
    }
  }
}
