// Animations

@keyframes loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(+10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.poets-page {
  &__container {
    &--max-width {
      @include container-max-width;
    }
  }
}
