@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

// Animations

@keyframes loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(+10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.poets-page {
  &__container {
    &--max-width {
      @include container-max-width;
      min-height: 100vh;
    }
    &--list {
      padding: 1rem 0;
      @include tablet {
        width: 60%;
      }
      @include desktop {
        width: 50%;
      }
    }
  }
  &__heading {
    @include page-heading;
    animation: slideUp 500ms ease-in-out 100ms backwards;
  }
  &__row {
    animation: slideUp 500ms ease-in-out 200ms backwards;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    border-top: 1px solid lightgrey;
    padding: 1rem 0;
    &:first-of-type {
      border-top: none;
    }
  }
  &__poet-pic {
    animation: slideUp 500ms ease-in-out 300ms backwards;
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    object-position: 0 1%;
    border-radius: $bdr-radius-lg;
  }
  &__name {
    animation: slideUp 500ms ease-in-out 400ms backwards;
    @include sub-heading;
  }
  &__loading-container {
    animation: slideUp 500ms ease-in-out 1s backwards;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
