@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.footer {
  &__container {
    &--max-width {
      @include container-max-width;
      height: 15rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &--info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 60%;
      @include tablet {
        width: 33%;
      }
      @include desktop {
        width: 20%;
      }
    }
    &--logos {
      display: flex;
      justify-content: flex-start;
    }
  }
  &__logo {
    @include logo;
    width: fit-content;
  }
  &__text {
    font-size: 10px;
    color: gray;
    line-height: 1rem;
  }
  &__external-logo {
    height: 24px;
    width: 24px;
    margin-right: 1rem;
  }
}
