@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  @include tablet {
    padding: 2rem 2rem;
  }
  &__box-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__hamburger {
    @include desktop {
      display: none;
    }
  }
  &__popout-menu {
    animation: menuOpen 250ms;
    border-top: 1px solid lightgrey;
    padding: 2rem 1rem;
    @include tablet {
      padding: 2rem 2rem;
    }
  }
  &__nav-list {
    &--desk {
      display: none;
      @include desktop {
        display: inline-block;
        padding: 0 2rem;
      }
    }
  }
  &__nav-item {
    @include nav-items;
    animation: slideIn 200ms ease-in-out forwards;
    &--2 {
      @include nav-items;
      animation: slideIn 0.25s ease-in-out forwards;
      animation-delay: 50ms;
    }
    &--3 {
      @include nav-items;
      animation: slideIn 0.25s ease-in-out forwards;
      animation-delay: 100ms;
    }
    &--4 {
      @include nav-items;
      animation: slideIn 0.25s 2s ease-in-out forwards;
      animation-delay: 150ms;
    }
    &--desk {
      @include nav-items;
      animation: none;
      display: none;
      @include desktop {
        display: inline-block;
        padding: 0 1rem;
      }
    }
  }
  &__overlay {
    animation: overlayOpen 250ms;
    background-color: black;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
  }
  &__box-right {
    display: flex;
    align-items: center;
  }
  &__mag-icon {
    height: 2rem;
    width: 2rem;
  }
}

// Animations

@keyframes menuOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes overlayOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-16px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
