@use "variables" as *;

// Media

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// Containers

@mixin container-max-width {
  padding: 1.5rem 1.5rem;
  @include tablet {
    padding: 1.5rem 2rem;
    max-width: 95%;
    margin: auto;
  }
  @include desktop {
    padding: 1.5rem 1.5rem;
    max-width: 1300px;
    margin: auto;
  }
}

// Text Styles

@mixin logo {
  font-weight: $normal;
  letter-spacing: -1.5px;
  word-spacing: -3px;
}

@mixin nav-items {
  font-family: $sans-serif;
  font-weight: $semibold;
  list-style: none;
  padding: 0.5rem 0;
  transform: translateX(-100vw);
  @include desktop {
    transform: translateX(0);
  }
}

@mixin page-heading {
  font-family: $sans-serif;
  font-weight: $semibold;
}

@mixin sub-heading {
  font-family: $sans-serif;
  font-weight: $semibold;
  color: $txt-secondary;
}

@mixin hero-heading {
  font-family: $serif;
  font-weight: $normal;
  color: $txt-primary;
  font-size: 3rem;
  line-height: 3.5rem;
  @include tablet {
    font-size: 4.5rem;
    line-height: 4.75rem;
  }
}

@mixin button-dark {
  font-family: $sans-serif;
  color: $txt-light;
  background-color: $btn-dark;
  border: none;
  border-radius: $bdr-radius-lg;
  height: 3.5rem;
  &:hover {
    opacity: 0.8;
    transition: opacity 300ms;
  }
}

@mixin body-copy {
  font-family: $sans-serif;
  line-height: 1.5rem;
  font-size: 12px;
  font-weight: $normal;
  @include tablet {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

@mixin poem-title {
  font-family: $sans-serif;
  font-weight: $semibold;
  color: $txt-primary;
}

@mixin poem-author {
  font-family: $sans-serif;
  color: $txt-secondary;
  font-size: 0.75rem;
  text-transform: uppercase;
}

@mixin poem-line {
  font-family: $serif;
  font-size: 12px;
  line-height: 1.5rem;
  white-space: pre;
  @include tablet {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}
