@use "variables" as *;

// Media

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// Text

@mixin nav-items {
  font-family: $sans-serif;
  font-weight: $semibold;
  list-style: none;
  padding: 0.5rem 0;
  transform: translateX(-100vw);
  @include desktop {
    transform: translateX(0);
  }
}
