@use "variables" as *;

// Media

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// Text

@mixin nav-items {
  font-family: $sans-serif;
  font-weight: $semibold;
  list-style: none;
  padding: 0.5rem 0;
  transform: translateX(-100vw);
  @include desktop {
    transform: translateX(0);
  }
}

@mixin button-dark {
  font-family: $sans-serif;
  color: $txt-light;
  background-color: $btn-dark;
  border: none;
  border-radius: $bdr-radius-lg;
  height: 3.5rem;
  &:hover {
    opacity: 0.8;
    transition: opacity 300ms;
  }
}

@mixin body-copy {
  font-family: $sans-serif;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: $normal;
}

@mixin poem-title {
  font-family: $sans-serif;
  color: $txt-primary;
}

@mixin poem-author {
  font-family: $sans-serif;
  color: $txt-secondary;
  font-size: 0.75rem;
  text-transform: uppercase;
}

@mixin poem-line {
  font-family: $serif;
  font-size: 1rem;
  line-height: 1.75rem;
}
