// Breakpoints

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Borders

$border-radius: 5px;

// Colours

$txt-primary: black;
$txt-secondary: gray;
$bg-primary: white;

// Fonts (update later)

$sans-serif: "Futura", Arial, sans-serif;
$serif: "Palatino", Georgia, serif;

// Font Weights

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
