// Breakpoints

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Borders

$bdr-radius-sm: 5px;
$bdr-radius-lg: 2rem;

// Colours

$txt-primary: black;
$txt-secondary: #3b3b3b; // Dark Gray
$txt-light: white;
$bg-primary: white;
$bg-secondary: #f7f6f4; // Flora White
$bg-teriary: #2f4858; // Charcoal
$btn-light: #8d9fba; //  Cool Gray
$btn-dark: black;

// Fonts (update later)

$sans-serif: "Futura", Arial, sans-serif;
$serif: "Palatino", Georgia, serif;

// Font Weights

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
