@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

// Animations

@keyframes slideUp {
  from {
    transform: translateY(+10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

// Animation Delay

.appear {
  &-1 {
    animation: slideUp 500ms ease-in-out;
    animation-delay: 150ms;
    animation-fill-mode: backwards;
  }
  &-2 {
    animation: slideUp 500ms ease-in-out;
    animation-delay: 250ms;
    animation-fill-mode: backwards;
  }
  &-3 {
    animation: slideUp 500ms ease-in-out;
    animation-delay: 350ms;
    animation-fill-mode: backwards;
  }
  &-4 {
    animation: slideUp 500ms ease-in-out;
    animation-delay: 400ms;
    animation-fill-mode: backwards;
  }
}

.hero {
  background-color: $bg-secondary;
  display: flex;
  justify-content: center;
  &__max-width-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 1.5rem;
    height: 42rem;
    @include tablet {
      height: 62rem;
      max-width: 95%;
    }
    @include desktop {
      flex-direction: row;
      height: 45rem;
      justify-content: space-between;
      max-width: 1300px;
      margin: auto;
    }
  }
  &__button-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    @include desktop {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
    }
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    @include desktop {
      align-items: flex-start;
    }
  }
  &__heading {
    @include hero-heading;
    text-align: center;
    max-width: 30rem;
    @include tablet {
      max-width: 37rem;
    }
    @include desktop {
      text-align: left;
    }
  }
  &__subheading {
    font-family: $sans-serif;
    font-weight: $normal;
    color: $txt-secondary;
    text-align: center;
    font-size: 1.125rem;
    line-height: 2rem;
    @include tablet {
      font-size: 1.25rem;
      line-height: 2.25rem;
    }
    @include desktop {
      text-align: left;
      max-width: 30rem;
    }
  }
  &__button {
    @include button-dark;
    width: 8rem;
  }
  &__image {
    aspect-ratio: auto;
    width: 75%;
    @include tablet {
    }
    @include desktop {
      max-width: 67%;
    }
  }
}
